/* ------------------------------------------
   FONTS
------------------------------------------ */

:root {
  --font-prose: system-ui, "IBM Plex Sans", "Segoe UI", "Lucida Console", Terminal, monospace;
  --font-code: "IBM Plex Mono", "Fira Code", Consolas, "Lucida Console", monospace;
  --font-error-terminal: "IBM Plex Mono", "Fira Code", Consolas, "Lucida Console", monospace;
  --font-support-me-button: Arial;

  /* Theme overrides */
  --font-body: "JetBrains Mono", "Fira Mono", "Source Code Pro", "Lucida Console", Terminal, monospace;
  --font-header-title: "JetBrains Mono", "Fira Mono", "Source Code Pro", "Lucida Console", Terminal, monospace;
  --font-heading: "JetBrains Mono", "Fira Mono", "Source Code Pro", "Lucida Console", Terminal, monospace;
  --font-button: Helvetica, Arial, sans-serif;
}
