.gist {
  filter: invert(100%) hue-rotate(180deg) brightness(110%) !important;
}

.gist .blob-code,
.gist .blob-num {
  font-family: var(--font-code) !important;
  font-size: 16px !important;
}

.gist .gist-meta {
  font-family: var(--font-prose) !important;
}

.gist .gist-file {
  position: relative;
}

.gist-copy-btn {
  filter: invert(100%) hue-rotate(180deg);
  z-index: 20;
}

@media (max-width: 600px) {
  .gist .blob-code,
  .gist .blob-num {
    font-size: 13px !important;
  }
}

@media (max-width: 400px) {
  .gist .blob-code,
  .gist .blob-num {
    font-size: 12px !important;
  }
}
